<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.doublefloat.CDCSonCNN.projects.teacher.mapper.TeacherMapper">
    <resultMap id="TeacherResult" type="Teacher">
        <id property="id" column="id"/>
        <result property="no" column="no"/>
        <result property="name" column="name"/>
        <result property="cardId" column="card_id"/>
        <result property="college" column="college"/>
        <result property="birth" column="birth"/>
        <result property="sex" column="sex"/>
        <result property="password" column="password"/>
        <result property="status" column="status"/>
        <result property="lastLoginTime" column="last_login_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteBy" column="delete_by"/>
        <result property="deleteTime" column="delete_time"/>
        <result property="note" column="note"/>
    </resultMap>

    <insert id="addTeacher" parameterType="Teacher">
        INSERT INTO tb_teacher (no, name, card_id, college, password, create_by, create_time)
        VALUE (#{no}, #{name}, #{cardId}, #{college}, #{password}, #{createBy}, #{createTime})
    </insert>

    <delete id="deleteTeacher" parameterType="Teacher">
        UPDATE tb_teacher SET status = 2, delete_by = #{deleteBy}, delete_time = #{deleteTime} WHERE id = #{id}
    </delete>

    <update id="updateTeacher" parameterType="Teacher">
        UPDATE tb_teacher
        SET update_by = #{updateBy},
        <if test="no != null and no != ''">
            no = #{no},
        </if>
        <if test="name != null and name != ''">
            name = #{name},
        </if>
        <if test="cardId != null and cardId != ''">
            card_id = #{cardId},
        </if>
        <if test="college != null and college != ''">
            college = #{college},
        </if>
        <if test="birth != null and birth != ''">
            birth = #{birth},
        </if>
        <if test="sex != null and sex != ''">
            sex = #{sex},
        </if>
        <if test="password != null and password != ''">
            password = #{password},
        </if>
        <if test="status != null and status != ''">
            status = #{status},
        </if>
        <if test="lastLoginTime != null and lastLoginTime != ''">
            last_login_time = #{lastLoginTime}
        </if>
        update_time = #{updateTime}
        WHERE id = #{id}
    </update>

    <sql id="SelectTeacher">
        SELECT t.id, t.no, t.name, t.card_id, t.college, t.birth, t.sex, t.password, t.status, t.last_login_time, t.create_by, t.create_time, t.update_by, t.update_time, t.delete_by, t.delete_time, t.note
        FROM tb_teacher t
    </sql>

    <select id="findTeacherById" parameterType="Long" resultMap="TeacherResult">
        <include refid="SelectTeacher"/>
        WHERE t.status = 0 AND t.id = #{id}
    </select>

    <select id="findTeacherByNo" parameterType="String" resultMap="TeacherResult">
        <include refid="SelectTeacher"/>
        WHERE t.status = 0 AND t.no = #{no}
    </select>

    <select id="findTeacherList" parameterType="Teacher" resultMap="TeacherResult">
        <include refid="SelectTeacher"/>
        WHERE t.status != 2
        <if test="id != null and id != ''">
            AND t.id = #{id}
        </if>
        <if test="no != null and no != ''">
            AND t.no = #{no}
        </if>
        <if test="name != null and name != ''">
            AND t.name LIKE concat('%', #{name},'%')
        </if>
        <if test="cardId != null and cardId != ''">
            AND t.card_id = #{cardId}
        </if>
        <if test="college != null and college != ''">
            AND t.college = #{college}
        </if>
        <if test="sex != null and sex != ''">
            AND t.sex = #{sex}
        </if>
        <if test="status != null and status != ''">
            AND t.status = #{status}
        </if>
    </select>

    <select id="checkTeacherExist" parameterType="Long" resultType="Integer">
        SELECT count(*) FROM tb_teacher WHERE id = #{id} AND status != 2
    </select>

    <select id="checkTeacherNoUnique" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM tb_teacher WHERE no = #{no} AND status != 2
    </select>

    <select id="checkTeacherCardIdUnique" parameterType="String" resultType="Integer">
        SELECT count(*) FROM tb_teacher WHERE card_id = #{cardId} AND status != 2
    </select>
</mapper>
