<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.doublefloat.CDCSonCNN.project.student.mapper.StudentMapper">
    <resultMap id="StudentResult" type="Student">
        <id property="id" column="id"/>
        <result property="no" column="no"/>
        <result property="name" column="name"/>
        <result property="cardId" column="card_id"/>
        <result property="classId" column="class_id"/>
        <result property="className" column="class_name"/>
        <result property="birth" column="birth"/>
        <result property="sex" column="sex"/>
        <result property="password" column="password"/>
        <result property="status" column="status"/>
        <result property="lastLoginTime" column="last_login_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteBy" column="delete_by"/>
        <result property="deleteTime" column="delete_time"/>
        <result property="note" column="note"/>
    </resultMap>

    <insert id="addStudent" parameterType="Student">
        INSERT INTO tb_student (no, name, card_id, class_id, password, create_by, create_time)
        VALUE (#{no}, #{name}, #{cardId}, #{classId}, #{password}, #{createBy}, #{createTime})
    </insert>

    <delete id="deleteStudent" parameterType="Student">
        UPDATE tb_student SET status = 2, delete_by = #{deleteBy}, delete_time = #{deleteTime} WHERE id = #{id}
    </delete>

    <update id="updateStudent" parameterType="Student">
        UPDATE tb_student
        SET update_by = #{updateBy},
        <if test="no != null and no != ''">
            no = #{no},
        </if>
        <if test="name != null and name != ''">
            name = #{name},
        </if>
        <if test="cardId != null and cardId != ''">
            card_id = #{cardId},
        </if>
        <if test="classId != null and classId != ''">
            class_id = #{classId},
        </if>
        <if test="birth != null and birth != ''">
            birth = #{birth},
        </if>
        <if test="sex != null and sex != ''">
            sex = #{sex},
        </if>
        <if test="password != null and password != ''">
            password = #{password},
        </if>
        <if test="status != null and status != ''">
            status = #{status},
        </if>
        <if test="lastLoginTime != null and lastLoginTime != ''">
            last_login_time = #{lastLoginTime}
        </if>
        update_time = #{updateTime}
        WHERE id = #{id}
    </update>

    <sql id="SelectStudent">
        SELECT s.id, s.no, s.name, s.card_id, s.class_id, c.name as 'class_name', s.birth, s.sex, s.password, s.status, s.last_login_time, s.create_by, s.create_time, s.update_by, s.update_time, s.delete_by, s.delete_time, s.note
        FROM tb_student s
        LEFT JOIN tb_class c on s.class_id = c.id
    </sql>

    <select id="findStudentById" parameterType="Long" resultMap="StudentResult">
        <include refid="SelectStudent"/>
        WHERE s.status = 0 AND s.id = #{id}
    </select>

    <select id="findStudentList" parameterType="Student" resultMap="StudentResult">
        <include refid="SelectStudent"/>
        WHERE s.status != 2
        <if test="id != null and id != ''">
            AND s.id = #{id}
        </if>
        <if test="no != null and no != ''">
            AND s.no = #{no}
        </if>
        <if test="name != null and name != ''">
            AND s.name LIKE concat('%', #{name},'%')
        </if>
        <if test="cardId != null and cardId != ''">
            AND s.card_id = #{cardId}
        </if>
        <if test="classId != null and classId != ''">
            AND c.id = #{classId}
        </if>
        <if test="sex != null and sex != ''">
            AND sex = #{sex}
        </if>
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
    </select>

    <select id="checkStudentExist" parameterType="Long" resultType="Integer">
        SELECT count(*) FROM tb_student WHERE id = #{id} AND status != 2
    </select>

    <select id="checkStudentNoUnique" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM tb_student WHERE no = #{no} AND status != 2
    </select>

    <select id="checkStudentCardIdUnique" parameterType="String" resultType="Integer">
        SELECT count(*) FROM tb_student WHERE card_id = #{cardId} AND status != 2
    </select>
</mapper>