<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.doublefloat.CDCSonCNN.projects.curriculum_project.mapper.CurriculumProjectMapper">
    <resultMap type="CurriculumProject" id="CurriculumProjectResult">
        <result property="id" column="id"/>
        <result property="courseId" column="course_id"/>
        <result property="courseName" column="course_name"/>
        <result property="name" column="name"/>
        <result property="desc" column="desc"/>
        <result property="status" column="status"/>
        <result property="beginTime" column="begin_time"/>
        <result property="endTime" column="end_time"/>
        <result property="attachmentFilePath" column="attachment_file_path"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteBy" column="delete_by"/>
        <result property="deleteTime" column="delete_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectCurriculumProjectVo">
        SELECT cp.id, cp.course_id, c.name AS 'course_name', cp.name, cp.desc, cp.status, cp.begin_time, cp.end_time, cp.attachment_file_path, cp.create_by, cp.create_time, cp.update_by, cp.update_time, cp.delete_by, cp.delete_time, cp.remark
        FROM tb_curriculum_project cp
        LEFT JOIN tb_course c ON c.id = cp.course_id
    </sql>

    <select id="selectCurriculumProjectList" parameterType="CurriculumProject" resultMap="CurriculumProjectResult">
        <include refid="selectCurriculumProjectVo"/>
        <where>
            <if test="name != null  and name != ''">and cp.name like concat('%', #{name}, '%')</if>
            <if test="desc != null  and desc != ''">and cp.desc = #{desc}</if>
            <if test="status != null  and status != ''">and cp.status = #{status}</if>
            <if test="beginTime != null ">and cp.begin_time = #{beginTime}</if>
            <if test="endTime != null ">and cp.end_time = #{endTime}</if>
            <if test="attachmentFilePath != null  and attachmentFilePath != ''">and cp.attachment_file_path =
                #{attachmentFilePath}
            </if>
        </where>
    </select>

    <select id="selectCurriculumProjectById" parameterType="Long" resultMap="CurriculumProjectResult">
        <include refid="selectCurriculumProjectVo"/>
        where cp.id = #{id}
    </select>

    <update id="updateCurriculumProject" parameterType="CurriculumProject">
        update tb_curriculum_project
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="desc != null">desc = #{desc},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="beginTime != null">begin_time = #{beginTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="attachmentFilePath != null">attachment_file_path = #{attachmentFilePath},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deleteBy != null">delete_by = #{deleteBy},</if>
            <if test="deleteTime != null">delete_time = #{deleteTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <insert id="insertCurriculumProject" parameterType="CurriculumProject">
        insert into tb_curriculum_project (
        <if test="id != null">id,</if>
        <if test="courseId != null">course_id,</if>
        <if test="name != null and name != ''">name,</if>
        <if test="desc != null">desc,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="beginTime != null">begin_time,</if>
        <if test="endTime != null">end_time,</if>
        <if test="attachmentFilePath != null">attachment_file_path,</if>
        create_by,
        <if test="remark != null">remark,</if>
        create_time
        )
        VALUES (
        <if test="id != null">#{id},</if>
        <if test="courseId != null">#{courseId},</if>
        <if test="name != null and name != ''">#{name},</if>
        <if test="desc != null">#{desc},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="beginTime != null">#{beginTime},</if>
        <if test="endTime != null">#{endTime},</if>
        <if test="attachmentFilePath != null">#{attachmentFilePath},</if>
        #{createBy},
        <if test="remark != null">#{remark},</if>
        sysdate()
        )
    </insert>

    <delete id="deleteCurriculumProjectById" parameterType="Long">
        UPDATE tb_curriculum_project SET status = 3  where id = #{id}
    </delete>

    <delete id="deleteCurriculumProjectByIds" parameterType="Long">
        UPDATE tb_curriculum_project SET status = 3 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>