<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.doublefloat.CDCSonCNN.projects.iclass.mapper.IclassMapper">

    <resultMap type="Iclass" id="IclassResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="master" column="master"/>
        <result property="counselor" column="counselor"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteBy" column="delete_by"/>
        <result property="deleteTime" column="delete_time"/>
        <result property="note" column="note"/>
    </resultMap>

    <sql id="selectIclassVo">
        select id, name, master, counselor, status, create_by, create_time, update_by, update_time, delete_by, delete_time, note from tb_class
    </sql>

    <select id="selectIclassList" parameterType="Iclass" resultMap="IclassResult">
        <include refid="selectIclassVo"/>
        <where>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="master != null ">and master = #{master}</if>
            <if test="counselor != null ">and counselor = #{counselor}</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
            <if test="deleteBy != null ">and delete_by = #{deleteBy}</if>
            <if test="deleteTime != null ">and delete_time = #{deleteTime}</if>
            <if test="note != null  and note != ''">and note = #{note}</if>
        </where>
    </select>

    <select id="selectIclassById" parameterType="Long" resultMap="IclassResult">
        <include refid="selectIclassVo"/>
        where id = #{id}
    </select>

    <insert id="insertIclass" parameterType="Iclass" useGeneratedKeys="true" keyProperty="id">
        insert into tb_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="master != null">master,</if>
            <if test="counselor != null">counselor,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deleteBy != null">delete_by,</if>
            <if test="deleteTime != null">delete_time,</if>
            <if test="note != null">note,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="master != null">#{master},</if>
            <if test="counselor != null">#{counselor},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deleteBy != null">#{deleteBy},</if>
            <if test="deleteTime != null">#{deleteTime},</if>
            <if test="note != null">#{note},</if>
        </trim>
    </insert>

    <update id="updateIclass" parameterType="Iclass">
        update tb_class
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="master != null">master = #{master},</if>
            <if test="counselor != null">counselor = #{counselor},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deleteBy != null">delete_by = #{deleteBy},</if>
            <if test="deleteTime != null">delete_time = #{deleteTime},</if>
            <if test="note != null">note = #{note},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteIclassById" parameterType="Long">
        delete from tb_class where id = #{id}
    </delete>

    <delete id="deleteIclassByIds" parameterType="String">
        delete from tb_class where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>